.btn {
    @include buttonAndLabelBasicStyles;

    &--primary {
        margin-top: 2rem;
    }

    &--secondary {
        padding: 1rem 2rem;
        border-radius: 12px;
        margin-bottom: 1.2rem;
    }

}