.files-list {
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 1.2rem 2rem;
    flex: 1;
    max-height: 100%;

    &__container {
        overflow: auto;
        padding: 1.6rem;

        @include scrollbar;
    }
}