.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    white-space: nowrap;

    &__code-container {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    &__code {
        background-color: $color-grey-light;
        font-size: 1.3rem;
        padding: 1rem;
        text-align: center;
        flex: 0 0 10%;
        border-bottom: 1px solid blue;
    }
}